# Ignore WordPress-specific files
*.log
wp-content/uploads/
wp-content/cache/

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore local development files
.env
*.env